<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding Employee</title>
</head>
<body>
    <form action="/addfood" method="post">
        <table>
            <tr>
                <td>Food Name </td>
                <td><input name="name" type="text" required></td>
            </tr>
            <tr>
                <td>Food Type </td>
                <td><input name="type" type="text" required></td>
            </tr>
            <tr>
                <td>Quantity </td>
                <td><input name="quantity" type="number" required></td>
            </tr>
            <tr>
                <td>Enter email to confirm </td>
                <td><input name="email" type="email" required></td>
            </tr>         
        </table>
        <button type="submit">Submit</button>
    </form>
</body>
</html>